CONFIG_ESP_NETIF_TCPIP_ADAPTER_COMPATIBLE_LAYER=n
CONFIG_ESP32_ULP_COPROC_ENABLED=y
CONFIG_ESP32_ULP_COPROC_RESERVE_MEM=512
CONFIG_ESP32_DEFAULT_CPU_FREQ_MHZ=80
CONFIG_ZAMDACH_USEWIFI=n
CONFIG_ZAMDACH_WPDSID_PRESSURE="13"
CONFIG_ZAMDACH_WPDSID_RAINGAUGE1="14"
CONFIG_ZAMDACH_WPDSID_HUMIDITY="19"
CONFIG_ZAMDACH_WPDSID_TEMPERATURE="20"
CONFIG_ZAMDACH_WPDSID_UV="21"
CONFIG_ZAMDACH_WPDSID_WINDDIR="22"
CONFIG_ZAMDACH_WPDSID_WINDSPEED="23"
