CONFIG_ESP_NETIF_TCPIP_ADAPTER_COMPATIBLE_LAYER=n
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=80
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_TWO_OTA=y
CONFIG_TWAI_ERRATA_FIX_BUS_OFF_REC=n
CONFIG_TWAI_ERRATA_FIX_TX_INTR_LOST=n
CONFIG_TWAI_ERRATA_FIX_RX_FRAME_INVALID=n
CONFIG_TWAI_ERRATA_FIX_RX_FIFO_CORRUPT=n
CONFIG_ETH_RMII_CLK_OUTPUT=y
CONFIG_ETH_SPI_ETHERNET_W5500=y
CONFIG_ESP_HTTP_CLIENT_ENABLE_DIGEST_AUTH=y
CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024
CONFIG_ESP_SLEEP_POWER_DOWN_FLASH=y
CONFIG_ESP_PHY_REDUCE_TX_POWER=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_80=y
CONFIG_ESP_MAIN_TASK_STACK_SIZE=4352
CONFIG_ESP_BROWNOUT_DET_LVL_SEL_3=y
CONFIG_ESP_IPC_TASK_STACK_SIZE=1536
CONFIG_ESP_WIFI_STA_DISCONNECTED_PM_ENABLE=n
CONFIG_LWIP_LOCAL_HOSTNAME="zamdach2022"
CONFIG_LWIP_DHCPS=n
CONFIG_LWIP_IPV6_AUTOCONFIG=y
CONFIG_LWIP_IPV6_NUM_ADDRESSES=6
CONFIG_LWIP_SNTP_MAX_SERVERS=2
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_CMN=y
CONFIG_WIFI_PROV_BLE_FORCE_ENCRYPTION=y
CONFIG_ZAMDACH_USEWIFI=n
CONFIG_ZAMDACH_WPDSID_PRESSURE="13"
CONFIG_ZAMDACH_WPDSID_RAINGAUGE1="14"
CONFIG_ZAMDACH_WPDSID_HUMIDITY="19"
CONFIG_ZAMDACH_WPDSID_TEMPERATURE="20"
CONFIG_ZAMDACH_WPDSID_UV="21"
CONFIG_ZAMDACH_WPDSID_WINDDIR="22"
CONFIG_ZAMDACH_WPDSID_WINDSPEED="23"
CONFIG_ZAMDACH_WPDSID_WINDSPMAX="77"
CONFIG_ZAMDACH_WPDSID_ILLUMINANCE="24"
CONFIG_ZAMDACH_WPDSID_PM010="25"
CONFIG_ZAMDACH_WPDSID_PM025="26"
CONFIG_ZAMDACH_WPDSID_PM040="27"
CONFIG_ZAMDACH_WPDSID_PM100="28"
CONFIG_ZAMDACH_OSM_BOXID="63b83dcc6795ba0007794c93"
CONFIG_ZAMDACH_OSMSID_HUMIDITY="63b83dcc6795ba0007794c9c"
CONFIG_ZAMDACH_OSMSID_PRESSURE="63b83dcc6795ba0007794c9b"
CONFIG_ZAMDACH_OSMSID_RAINGAUGE1="63b83dcc6795ba0007794c9e"
CONFIG_ZAMDACH_OSMSID_TEMPERATURE="63b83dcc6795ba0007794c9d"
CONFIG_ZAMDACH_OSMSID_UV="63b83dcc6795ba0007794c94"
CONFIG_ZAMDACH_OSMSID_WINDDIR="63b83dcc6795ba0007794c96"
CONFIG_ZAMDACH_OSMSID_WINDSPEED="63b83dcc6795ba0007794c97"
CONFIG_ZAMDACH_OSMSID_WINDSPMAX=""
CONFIG_ZAMDACH_OSMSID_ILLUMINANCE="63b83dcc6795ba0007794c95"
CONFIG_ZAMDACH_OSMSID_PM010="63b83dcc6795ba0007794c9a"
CONFIG_ZAMDACH_OSMSID_PM025="63b83dcc6795ba0007794c99"
CONFIG_ZAMDACH_OSMSID_PM040=""
CONFIG_ZAMDACH_OSMSID_PM100="63b83dcc6795ba0007794c98"
