menu "ZAMDACH2022 Configuration"

    config ZAMDACH_USEWIFI
        bool "Use WiFi instead of Ethernet"
        default n
        help
            If this is enabled, WiFi will be used for connecting
            to the internet instead of the Ethernet port. The
            ethernet port may still be used to provide PoE power
            in this case, but it does not have to.

    if ZAMDACH_USEWIFI
        config ZAMDACH_WIFISSID
            string "WiFi SSID to connect to"
            default "ZAM"
            help
                Sets the SSID to which we try to connect.
                Do not forget to set the secret (password) as well,
                you need to do that in secrets.h, not here.

    endif # ZAMDACH_USEWIFI

    config ZAMDACH_WPDSID_PRESSURE
        string "wetter.p.d ID for the pressure sensor"
        default "13"
        help
            The ID of the pressure sensor for reporting
            to wetter.poempelfox.de

endmenu
